@import './css/typo.scss';

:root {
	--white: rgb(255 255 255);
	--white-80: rgb(255 255 255 / 80%);
	--white-60: rgb(255 255 255 / 60%);
	--white-40: rgb(255 255 255 / 40%);
	--white-20: rgb(255 255 255 / 20%);
	--white-10: rgb(255 255 255 / 10%);
}

* {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'silka', serif;
	// font-size: 16px;
	line-height: 1.5;
}

body {
	background-color: black;
	color: var(--white-80);
}

::selection {
	background-color: white;
	color: black;
}

.box {
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem 1rem;
	background-color: black;
	border-top: 1px solid var(--white-10);
	border-bottom: 1px solid var(--white-10);
}

.box-h2 {
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.my-section {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

@media (min-width: 740px) {
	.box {
		border: 1px solid var(--white-10);
		border-radius: 0.5rem;
		padding: 2rem;
	}
}

.btn-style {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: var(--white-60);
	font-weight: 700;
	border: 1px solid currentColor;
	box-shadow: 2px 2px 0 var(--white-60);
	border-radius: 0;
	appearance: none;

	&.inverted {
		color: black;
		box-shadow: 2px 2px 0 rgb(0 0 0 / 60%);
	}

	&:hover,
	&:focus {
		transform: translate(-1px, -1px);
		box-shadow: 3px 3px 0;
		outline: none;
	}

	&:active {
		transform: translate(1px, 1px);
		box-shadow: 1px 1px 0;
	}
}

button.btn-style {
	cursor: pointer;
}

.input-style {
	display: block;
	padding: 0.5rem 1rem;
	border: 2px solid currentColor;
	appearance: none;
	border-radius: 0;

	&::selection {
		background-color: black;
		color: white;
	}
}
